---
import type { SiteMeta } from "@/types";
import siteMeta from "src/site-meta.config";
import "../styles/global.css";

export type Props = SiteMeta;

const { title, description, pubDate } = Astro.props as Props;

const titleSeparator = "-";
const siteTitle = `${title} ${titleSeparator} ${siteMeta.title}`;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width , initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- Primary Meta Tags -->
<title>{siteTitle}</title>
<meta name="title" content={siteTitle} />
<meta name="description" content={description} />

<!-- Global Metadata -->
<link rel="icon" href="/images/icon/192x192.png" />
<link rel="apple-touch-icon" href="/images/icon/192x192.png" />
<link rel="manifest" href="/manifest.webmanifest" />
<meta name="theme-color" content={siteMeta.themeColorLight} />

<!-- Open Graph / Facebook -->
<meta property="og:locale" content={siteMeta.ogLocale} />
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL.toString()} />
<link rel="canonical" href={canonicalURL.toString()} />

<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image:alt" content="Open graph image for Ratul's blog." />

{
  pubDate ? (
    <meta
      property="og:image"
      content={`https://og.ratulmaharaj.com/api/blogpost?title=${encodeURI(title)}&description=${encodeURI(description)}&date=${encodeURI(pubDate)}`}
    />
  ) : (
    <meta
      property="og:image"
      content={`https://og.ratulmaharaj.com/api/blog`}
    />
  )
}

<!-- Twitter -->
<meta property="twitter:card" content={"summary_large_image"} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
{
  pubDate ? (
    <meta
      property="twitter:image"
      content={`https://og.ratulmaharaj.com/api/blogpost?title=${encodeURI(title)}&description=${encodeURI(description)}&date=${encodeURI(pubDate)}`}
    />
  ) : (
    <meta
      property="twitter:image"
      content={`https://og.ratulmaharaj.com/api/blog`}
    />
  )
}
