---
import type { IElement, MDXInstance, Snippet } from "@/types";
import { getLocaleTime } from "@/util";
export interface Props extends IElement {
	snippet: MDXInstance<Snippet>;
	withDesc?: boolean;
}

const { snippet, as: Element = "div", withDesc = false } = Astro.props as Props;
const { pubDate } = snippet.frontmatter;
const date = new Date(pubDate);
const datetime = date.toISOString();
const snippetDate = getLocaleTime(date, { month: "short" });
---

<div class="flex flex-col">
	<div class="flex flex-row">
		<time datetime={datetime} class="min-w-[120px] text-gray-400 my-auto"
			>{snippetDate}
		</time>
		<Element>
			<a href={snippet.url} class="inline-block cactus-link">
				{snippet.frontmatter.title}
			</a>
		</Element>
	</div>
	<div>
		{
			withDesc && (
				<p class="line-clamp-3 mt-3 block italic">
					{snippet.frontmatter.description}
				</p>
			)
		}
	</div>
</div>
